$font-poppins:'Poppins', sans-serif;
$font-open-sans: 'Open Sans', sans-serif;


$color-primary:#fff;
$color-secondary:hsl(257, 40%, 49%);
$color-alt:hsl(300, 69%, 71%);

/**BREAK POINTS*/

$mdScreen: "768px";
$lgScreen: "1024px";